/.vs/Library_Project/FileContentIndex/c4370337-4042-4da7-bde8-9046f8133978.vsidx
/.vs/Library_Project/FileContentIndex/d1395f62-bdf2-4471-8296-73c23a269f1e.vsidx
/.vs/Library_Project/v17/Browse.VC.db
/.vs/Library_Project/v17/Browse.VC.db-shm
/.vs/Library_Project/v17/Browse.VC.db-wal
/.vs/Library_Project/v17/Browse.VC.opendb
/.vs/Library_Project/v17/ipch/AutoPCH/30c3a27b530acce5/VCTMP16740_788766.LIBRARYAPP.EC6660F8.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/372b8efbe1eee122/VCTMP16740_327460.LIBRARYAPP.A637F301.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/3b93923a9d23f447/VCTMP16740_143350.LIBRARYAPP.D64EE557.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/4d5fe6bc47466fbf/VCTMP16740_630859.LIBRARYAPP.1F74ADE0.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/583d40264b28b833/VCTMP16740_214282.LIBRARYAPP.A637F301.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/64d90b50857e35ce/VCTMP16740_88432.LIBRARYAPP.EC6660F8.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/6dd4c881d36bd40e/VCTMP16740_661682.LIBRARYAPP.EC6660F8.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/8a48c50ac398a9d0/VCTMP16740_701062.LIBRARYAPP.A637F301.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/cef8c6f17d3c1c4d/VCTMP16740_689296.LIBRARYAPP.EC6660F8.ipch
/.vs/Library_Project/v17/ipch/AutoPCH/d638934bc97fd092/VCTMP16740_52546.LIBRARYAPP.A637F301.ipch
/.vs/Library_Project/v17/Browse.VC.db
/.vs/Library_Project/v17/.suo
/.vs/Library_Project/v17/Browse.VC.db
/.vs/Library_Project/v17/DocumentLayout.backup.json
/.vs/Library_Project/v17/DocumentLayout.json
/.vs/Library_Project/v17/.suo
/.vs/Library_Project/v17/Browse.VC.db
/.vs/Library_Project/v17/DocumentLayout.backup.json
/.vs/Library_Project/v17/DocumentLayout.json
